
.Order{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:80%;
    border-style: solid;
    margin: auto;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 5px;
}
.Order h3{
    display: inline;

}
.Order h1{
    display: block;
}